@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #f6f7fb;
    --white-color: #fff;
    --black-color: #18191a;
    --red-color: #e74c3c;
  }


body{
 
  background-image: url(1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Nunito', sans-serif;

}

.converter-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.result{
  color: var(--red-color);
} 

.card{
  box-shadow: 10px 20px 30px;
  background-image: linear-gradient(rgba(47, 41, 41, 0.9),rgba(65, 202, 248, 0.9));
}